* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://w.wallha.com/ws/13/lxYg3ZQe.jpg');
  height: 100vh;
  background-size: cover;
  margin: 0;
}

.navBar {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px
}

nav > a {
  padding: 5px;
}

a {
  color: #FFF;
}

.login img {
  height: 30px;
}
