* {
  font-family: Helvetica;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://w.wallha.com/ws/13/lxYg3ZQe.jpg');
  height: 100vh;
  background-size: cover;
  margin: 0;
  background-position: center;
  background-attachment: fixed;
}

nav {
  display: inline-block;
  top: 0;
  width: 85%;
  background-color: black;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 2px grey;
  z-index: 9999;
}
.clippy {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;

}
nav > a {
  padding: 5px;
}
a {
  color: #FFF;
  display: block;
  float: right;
  position: relative;
}
.login img {
  height: 30px;
}
.viewComments {
  display: block;
  align-items: center;
  margin-left: 35%;
  justify-content: center;
  
}
.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  font-size: 20px;
  margin-top: 480px;
}
#submitBtn {
  margin: auto;
  text-align: center;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
}
.textSubmit {
  font-size: 30px;
  margin-bottom: 3px;
  gap: 5px;
}
.allClipsContainer{
  display: inline-block;
  width: 100%;
  margin: auto;
}
.url {
  font-weight: 800;
  font-size: 23px;
}
.videoContainer{
  display: block;
  float: left;
  justify-content: center;
  width: auto;
  margin: 25px;
}