<%- include('../partials/header') %>

    <h1>WELCOME TO #CLIPPY</h1>
    <h2>This is an environment for you to drop URLs for anything and all video game related</h2>
    <h3>Have Fun and Enjoy</h3>

<%- include('../partials/footer') %>

