<%- include('../partials/header') %>

<div>WELCOME TO #CLIPPY</div>
<div>This is an environment for you to drop URLs for anything and all video game related</div>
<div>Have Fun and Enjoy</div>


<%- include('../partials/footer') %>